.container {
    max-width: 1110px;
    margin: auto;
}

.main-text {
    max-width: 540px;
    color: var(--grey-color);
    line-height: 25px;
}

.btn {
    padding: 15px 40px;
    color: var(--white-color);
    line-height: 25px;
    letter-spacing: 2px;
    background-color: var(--accent-color);
}

.btn:focus,                                                 
.btn:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
    -webkit-box-shadow: 0px 0px 14px 10px rgba(52, 84, 122, 0.2);
    -moz-box-shadow: 0px 0px 14px 10px rgba(52, 84, 122, 0.2);
    box-shadow: 0px 0px 14px 10px rgba(52, 84, 122, 0.2);
}

.section-title {
    font-weight: 500;
    font-size: 32px;
}

.visually-hidden {
    /* Удаляем элемент из потока документа */
    position: absolute;
    /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
    width: 1px;
    height: 1px;
    /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
    margin: -1px;
    /* Скрываем вылезающий за границы контент */
    overflow: hidden;
    /* Временное решение для неверно произносимого, размазанного текста */
    white-space: nowrap;
    /* Вырезаем ту часть контента, которая должна отображаться. */
    /* Устаревшее свойство clip для старых браузеров */
    clip: rect(0 0 0 0);
    /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
    clip-path: inset(50%); 
  }

.field {
    padding: 17px;
    font-size: 14px;
    letter-spacing: 2px;
    caret-color: var(--accent-color);
}

/* Фикс состояния :focus */
a:focus {
    outline: 1px solid var(--accent-color);
}

a.clicked {
    outline: none;
}
/*  */

.field:active,
.field:focus {
    outline: 1px solid var(--accent-color);
}
